# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGci...
SUPABASE_SERVICE_ROLE_KEY=eyJhbGci...

# Midtrans
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxx
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxx
NEXT_PUBLIC_MIDTRANS_IS_PRODUCTION=false

# TokoVoucher
TOKOVOUCHER_MEMBER_CODE=YOUR_MEMBER_CODE
TOKOVOUCHER_SECRET_KEY=YOUR_SECRET_KEY
TOKOVOUCHER_BASE_URL=https://api.tokovoucher.id

# Auth
JWT_SECRET=ganti-dengan-string-random-panjang-minimal-32-karakter

# Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ganti-password-kamu

# Site
NEXT_PUBLIC_SITE_NAME=Zyfay
NEXT_PUBLIC_SITE_URL=https://zyfay-official.vercel.app
